{% extends "header.html" %}
{% block content %}   
    <style>
        .paginate_button:hover {
            background: transparent !important;
            border: none !important;
        }
        .page-link:focus{
            color: black !important;
        }
        #file-upload-button {
            background: transparent !important;
        }
        select{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 20px;
        }
        .dept_select {
            border: none;
            border-bottom: 1px solid #ced4da !important; 
            /* background: #FFBB33 !important; */
        }

        
    </style>    
    <script>
        $(document).ready(
        function(){
            const actualBtn = document.getElementById('fileInput');
            const fileChosen = document.getElementById('file_display');
            actualBtn.addEventListener('change', function(){
                fileChosen.textContent = this.files[0].name
            })
            $('input:file').change(
                function(){
                    if ($(this).val()) {
                        $('input:submit').attr('disabled',false); 
                    } 
                }
                );
        });
    </script>
        
    <div class="py-5 p-md-5">
        {% if user.is_authenticated %}
        <div class="row px-md-5">
            <div class="col-12 col-md-6">
                <p><b>Email: </b>{{user.email}}</p>
                <p class="text-capitalize"><b>Role: </b>{{curr_user.role}}</p>
                <p class="text-capitalize"><b>Department: </b>{{curr_user.department.name}}</p>
                <p class="text-capitalize"><b>Trust: </b>{{curr_user.department.trust.name}}</p>
            </div>
            {% if curr_user.role == "admin" %}
            <div class="col-12 col-md-6 align-center mt-5 mt-md-0">
                <form action="/upload_bulk_contacts/" method = "POST" enctype="multipart/form-data" class="text-center">
                <h5>Upload data</h5>
                {% csrf_token %}
                    <input type="file" name="fileInput" id="fileInput" hidden/>
                    <label for="fileInput" class="btn btn-primary">Choose File</label>
                    <span id="file_display" class="pr-5">No file chosen</span>
                    <input class="btn btn-warning" type="submit" value="Upload data" disabled/>
                </form>
            </div>
            {% endif %}
        </div>
        
        <hr />
        {% if user_details %}
        <h3 class="text-center my-4">List of Contacts</h3>
        <div class="row w-md-75 mx-auto">
            <div class="col-12 col-md-6">
                <div class="md-form">
                    <i class="fas fa-search amber-text prefix"></i>
                    <input class="form-control" id="search_by_name" type="text">
                    <label for="search_by_name">Search by Name..</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="md-form">
                    <i class="fas fa-search amber-text prefix"></i>    
                    <select class="ml-5 custom-select dept_select form-control" id="search_by_dept">
                        <option class="ml-5" value="0" disabled selected>Search by Department</option>
                        <option class="ml-5" value="">None</option>
                        {% for dept in all_depts %}
                            <option class="ml-5 text-capitalize" value="{{dept.name}}">{{dept.name}}</option>
                        {% endfor %}
                    </select>
                    <!-- <input class="form-control" id="search_by_dept" type="text"> -->
                    <!-- <label for="search_by_dept">Search by Department..</label> -->
                </div>
            </div>
        </div>
        
        <table class="table table-responsive w-100 d-block d-md-table" id="contact_table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" data-sortable="true">Name</th>
                    <th scope="col">Phno</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Department</th>
                    <th scope="col">Trust</th>
                </tr>
            </thead>
            <tbody id="contact_table_body">
                {% for detail in user_details %}
                <tr>
                    <th class="py-3" scope="row">{{forloop.counter}}</th>
                    <td class="py-3 text-capitalize">{{detail.name}}</td>
                    <td class="py-3"><a href="tel:{{detail.phno}}">{{detail.phno}}</a></td>
                    <td class="py-3">{{detail.email}}</td>
                    <td class="py-3">{{detail.get_role_display}}</td>
                    <td class="py-3 text-capitalize">{{detail.department.name}}</td>
                    <td class="py-3 text-capitalize">{{detail.department.trust}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3 class="text-center">User not found in database</h3>
        <p class="text-center">Please contact admin</p>
        {% endif %}
        {% else %}
        <div class="text-center">
            <h3>Contacts database</h3>
            <a class="btn btn-danger my-5 align-middle" href="/oauth/login/google-oauth2/?next=/" style="font-size:17px"><i class="fab fa-google-plus-g left" style="font-size:20px"></i> Login With Google</a>
        </div>    
        {% endif %}
    </div>

    <script>
        $(document).ready(function(){
            $("#search_by_name").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").each(function(){
                    $row = $(this);
                    var name = $row.find("td:nth-child(2)").text().toLowerCase();
                    console.log(name);
                    if(name.search(value) < 0){                
                        $row.hide();
                    } else{
                        $row.show();
                    }
                });
            });
            $("#search_by_dept").on("change", function() {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").each(function(){
                    $row = $(this);
                    var name = $row.find("td:nth-child(6)").text().toLowerCase();
                    console.log(name);
                    if(name.search(value) < 0){                
                        $row.hide();
                    } else{
                        $row.show();
                    }
                });
            });
        });
        $(document).ready(function () {
            $('#contact_table').DataTable({
                "order":  [[ 0, "asc"]],
                searching: false,
            });
        });
        </script>
{% endblock %}
